@import url("https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,300,400&display=swap");
@import "tailwindcss";

@theme inline {
  --font-sans: 'Satoshi', system-ui, sans-serif;
  --font-serif: 'Satoshi', system-ui, sans-serif;
}

@theme {
  --color-cream: #f5f4f0;
  --color-ink: #0a0a0a;
  --color-silk: #e8e7e3;
  --color-ash: #9a9990;
  --color-dusk: #5a5955;
}

html {
  scroll-behavior: smooth;
  font-size: 112%;
}

body {
  background-color: #f5f4f0;
  color: #0a0a0a;
}

::selection {
  background-color: #0a0a0a;
  color: #f5f4f0;
}
